/*
 * Copyright (C) 2021 Atmark Techno, Inc. All Rights Reserved.
 *
 * SPDX-License-Identifier: (GPL-2.0 OR MIT)
 */

/dts-v1/;

#include "armadillo_iotg_g4.dts"

/* deleting reg_usb1_host_vbus, which controls USB1_PWR_EN(high
 * active), turns off USB1_VBUS because USB1_PWR_EN has been pulled
 * down on the board. */
/delete-node/ &reg_usb1_host_vbus;
