// SPDX-License-Identifier: (GPL-2.0 OR MIT)
/*
 * Copyright (C) 2024 Atmark Techno, Inc. All Rights Reserved.
 */

/dts-v1/;
/plugin/;

#include "imx8ulp-pinfunc.h"
#include "imx8ulp-pinfunc-m33.h"
#include <dt-bindings/gpio/gpio.h>
#include <dt-bindings/input/input.h>
#include <dt-bindings/interrupt-controller/irq.h>

&{/} {
	model = "Atmark-Techno Armadillo-IoT Gateway A9E Board";
	compatible = "atmark,armadillo-iotg-a9e", "fsl,imx8ulp";

	aliases {
		/* aliases in overlay do not work natively and we need to
		 * hardcode node paths as strings instead */
		rtc0 = "/soc@0/bus@29800000/i2c@29840000/rtc@32";
		ttyrpmsg1 = "/lpuart0";
	};

	leds {
		compatible = "gpio-leds";
		pinctrl-names = "default";
		pinctrl-0 = <&pinctrl_leds>;

		f30_led {
			label = "app";
			gpios = <&gpiof 30 GPIO_ACTIVE_HIGH>;
			linux,default-trigger = "none";
		};

		f31_led {
			label = "wwan";
			gpios = <&gpiof 31 GPIO_ACTIVE_HIGH>;
			linux,default-trigger = "none";
		};
	};

	gpio-keys {
		compatible = "gpio-keys";

		gpio_keys_sw1: sw1 {
			label = "SW1";
			gpios = <&rpmsg_gpioc 10 GPIO_ACTIVE_LOW>;
			linux,code = <KEY_PROG1>;
		};
	};

//power
	reg_vdd_3p3v: regulator-vdd-3p3v {
		compatible = "regulator-fixed";
		gpio = <&rpmsg_gpioc 7 GPIO_ACTIVE_HIGH>;
		regulator-name = "VDD_3P3V";
		regulator-min-microvolt = <3300000>;
		regulator-max-microvolt = <3300000>;
		enable-active-high;
		regulator-always-on;
		regulator-boot-on;
	};

	reg_vdd_1p8v: regulator-vdd-1p8v {
		compatible = "regulator-fixed";
		gpio = <&rpmsg_gpioc 8 GPIO_ACTIVE_HIGH>;
		regulator-name = "VDD_1P8V";
		regulator-min-microvolt = <1800000>;
		regulator-max-microvolt = <1800000>;
		enable-active-high;
		regulator-always-on;
		regulator-boot-on;
	};

	usdhc1_pwrseq: usdhc1_pwrseq {
		compatible = "mmc-pwrseq-simple";
		reset-gpios = <&rpmsg_gpioc 6 GPIO_ACTIVE_LOW>;
	};

	spi_gpio: spi_gpio {
		compatible = "spi-gpio";
		num-chipselects = <1>;
		miso-gpios = <&rpmsg_gpioc 0 0>;
		mosi-gpios = <&rpmsg_gpioc 1 0>;
		sck-gpios = <&rpmsg_gpioc 2 0>;
		cs-gpios = <&rpmsg_gpioc 3 0>;
		#address-cells = <1>;
		#size-cells = <0>;
		spidev1_0: spi@0 {
			reg = <0>;
			compatible = "rohm,dh2228fv";
			spi-max-frequency = <1000000>;
		};
	};

	lpuart0 {
		compatible = "fsl,imx-rpmsg-tty-serial";
		port_type = <TTY_TYPE_LPUART>;
		uart_index = <LPUART0>;
		rs485_flags = <(LPUART_RS485_ENABLED | LPUART_RS485_DE_ON_SEND)>;
		rs485_de_gpio = <PIN_PTA17>;
		suspend_wakeup_gpio = <PIN_PTA15>; /* rx pin selected in iomuxc */
	};

	adc {
		compatible = "fsl,imx-rpmsg-adc";
		label = "vin";
		vref-supply = <&reg_vdd_1p8v>;
		vin {
			chan_index = <0>;
			adc_index = <ADC1>;
			adc_chan = <5>;
			adc_side = <kLPADC_SampleChannelSingleEndSideB>;
			adc_scale = <kLPADC_SampleFullScale>;
			adc_average = <kLPADC_HardwareAverageCount4>;
		};
	};
};

// USB hub, RTC, eeprom
&i2c_rpbus_1 {
	#address-cells = <1>;
	#size-cells = <0>;
	status = "okay";

	i2c_type = <I2C_TYPE_LPI2C>;
	i2c_index = <LPI2C1>;
	i2c_baudrate = <100000>;

	usb2422_usbhub: usb2422@2c {
		compatible = "microchip,usb2422";
		reg = <0x2c>;
		reset-gpios = <&rpmsg_gpioa 19 GPIO_ACTIVE_LOW>;
	};

	rv8803_rtc: rtc@32 {
		compatible = "microcrystal,rv8803";
		reg = <0x32>;
		interrupt-parent = <&rpmsg_gpiob>;
		interrupts = <13 GPIO_ACTIVE_LOW>;
		wakeup-source;
	};
};

// fixed expansion interface i2c
&lpi2c7 {
	#address-cells = <1>;
	#size-cells = <0>;
	clock-frequency = <384000>;
	pinctrl-names = "default";
	pinctrl-0 = <&pinctrl_lpi2c7>;
	status = "okay";
};

// wlan LBES5PL2EL-923
&usdhc1 {
	pinctrl-names = "default", "state_100mhz", "state_200mhz";
	pinctrl-0 = <&pinctrl_usdhc1>;
	pinctrl-1 = <&pinctrl_usdhc1_100mhz>;
	pinctrl-2 = <&pinctrl_usdhc1_200mhz>;
	keep-power-in-suspend;
	non-removable;
	wakeup-source;
	mmc-pwrseq = <&usdhc1_pwrseq>;
	fsl,sdio-interrupt-enable;
	status = "okay";
	// reset gpios
	// wlan gpiod 13
	// th gpioc 4
	// bt gpiof 16

	wifi_wake_host {
		compatible = "nxp,wifi-wake-host";
		interrupt-parent = <&gpiod>;
		interrupts = <17 IRQ_TYPE_LEVEL_LOW>;
		interrupt-names = "host-wake";
		// also, bt wake on gpioe 6
	};
};

&lpuart6 {
	pinctrl-names = "default";
	pinctrl-0 = <&pinctrl_lpuart6>;
	status = "okay";

	bluetooth {
		compatible = "nxp,88w8987-bt";
		btnxpuart,required-netdev = "mlan0";
	};
};

&gpioa_iomuxc {
	lpuart0 {
		imx-rpmsg,pins = <
			IOMUXC_PTA18_LPUART0_TX (IOMUXC_PCR_PE_MASK | IOMUXC_PCR_PS_MASK)
			IOMUXC_PTA15_LPUART0_RX (IOMUXC_PCR_PE_MASK | IOMUXC_PCR_PS_MASK)
			IOMUXC_PTA16_PTA16	IOMUXC_PCR_PE_MASK
			IOMUXC_PTA17_PTA17	IOMUXC_PCR_PE_MASK
		>;
	};
	adc {
		imx-rpmsg,pins = <
			IOMUXC_PTA24_ADC1_CH5B	0
		>;
	};
	lpi2c1 {
		imx-rpmsg,pins = <
			IOMUXC_PTA4_LPI2C1_SCL	(IOMUXC_PCR_ODE_MASK | IOMUXC_PCR_PE_MASK | IOMUXC_PCR_PS_MASK | IOMUXC_PCR_SRE_MASK)
			IOMUXC_PTA5_LPI2C1_SDA	(IOMUXC_PCR_ODE_MASK | IOMUXC_PCR_PE_MASK | IOMUXC_PCR_PS_MASK | IOMUXC_PCR_SRE_MASK)
		>;
	};
};

&gpiob_iomuxc {
	do {
		imx-rpmsg,pins = <
			IOMUXC_PTB0_PTB0	IOMUXC_PCR_SRE_MASK
			IOMUXC_PTB1_PTB1	IOMUXC_PCR_SRE_MASK
		>;
	};
};

&gpioc_iomuxc {
	spi {
		imx-rpmsg,pins = <
			IOMUXC_PTC0_PTC0 0x2 /* PE(1) */
			IOMUXC_PTC1_PTC1 0x20000 /* OBE(1) */
			IOMUXC_PTC2_PTC2 0x20000 /* OBE(1) */
			IOMUXC_PTC3_PTC3 0x20000 /* OBE(1) */
		>;
	};
	sw1_gpio_keys {
		imx-rpmsg,pins = <
			IOMUXC_PTC10_PTC10	0x1100003
		>;
	};
};

&iomuxc1 {
	/*
	 * append pinctrl_con10_gpio.
	 * pinctrl_customize is already defined in armadillo_900.dts
	 * and can be customized here or in other dtbos if necessary.
	 */
	pinctrl-0 = <&pinctrl_customize>, <&pinctrl_con10_gpio>;

	/* pinctrl memo
	 * 0x7c00000 deglitch window
	 * 0x200000 digital filter clock select (0=PCTL*, 1=RTC 1kHz)
	 * 0x100000 digital filter
	 * 0x20000 output buffer enable
	 * 0x10000 input buffer enable
	 * 0x40 high drive strength
	 * 0x20 open drain
	 * 0x4 slew rate
	 * 0x2 pull-up enable
	 * 0x1 pull-up selection (0=pull down)
	 */

	/* overriden by at-dtweb */
	pinctrl_con10_gpio: con10gpiogrp {
		fsl,pins = <
			MX8ULP_PAD_PTF6__PTF6    0x0
			MX8ULP_PAD_PTF7__PTF7    0x0
		>;
	};

	pinctrl_leds: ledgrp {
		fsl,pins = <
			MX8ULP_PAD_PTF30__PTF30	0x0
			MX8ULP_PAD_PTF31__PTF31	0x0
		>;
	};

	/* con 10 i2c */
	pinctrl_lpi2c7: i2c7grp {
		fsl,pins = <
			MX8ULP_PAD_PTF4__LPI2C7_SCL	0x24
			MX8ULP_PAD_PTF5__LPI2C7_SDA	0x24
		>;
	};

	pinctrl_usdhc1: usdhc1grp {
		fsl,pins = <
			MX8ULP_PAD_PTD18__SDHC1_D3	0x0
			MX8ULP_PAD_PTD19__SDHC1_D2	0x0
			MX8ULP_PAD_PTD20__SDHC1_D1	0x0
			MX8ULP_PAD_PTD21__SDHC1_D0	0x0
			MX8ULP_PAD_PTD22__SDHC1_CLK	0x10002
			MX8ULP_PAD_PTD23__SDHC1_CMD	0x0
			MX8ULP_PAD_PTD13__SDHC1_RESET_B	0x0 // IND_RST_WL
			MX8ULP_PAD_PTF3__PTF3		0x0 // SPI_INT
			MX8ULP_PAD_PTF16__PTF16		0x0 // IND_RST_BT
			MX8ULP_PAD_PTD17__PTD17		0x0 // WL_WAKE_IN
			MX8ULP_PAD_PTF2__PTF2		0x0 // BT15.4_WAKE_IN
		>;
	};
	pinctrl_usdhc1_100mhz: usdhc1grp-100mhz {
		fsl,pins = <
			MX8ULP_PAD_PTD18__SDHC1_D3	0x0
			MX8ULP_PAD_PTD19__SDHC1_D2	0x0
			MX8ULP_PAD_PTD20__SDHC1_D1	0x0
			MX8ULP_PAD_PTD21__SDHC1_D0	0x0
			MX8ULP_PAD_PTD22__SDHC1_CLK	0x10002
			MX8ULP_PAD_PTD23__SDHC1_CMD	0x0
			MX8ULP_PAD_PTD13__SDHC1_RESET_B	0x0 // IND_RST_WL
			MX8ULP_PAD_PTF3__PTF3		0x0 // SPI_INT
			MX8ULP_PAD_PTF16__PTF16		0x0 // IND_RST_BT
			MX8ULP_PAD_PTD17__PTD17		0x0 // WL_WAKE_IN
			MX8ULP_PAD_PTF2__PTF2		0x0 // BT15.4_WAKE_IN
		>;
	};
	pinctrl_usdhc1_200mhz: usdhc1grp-200mhz {
		fsl,pins = <
			MX8ULP_PAD_PTD18__SDHC1_D3	0x0
			MX8ULP_PAD_PTD19__SDHC1_D2	0x0
			MX8ULP_PAD_PTD20__SDHC1_D1	0x0
			MX8ULP_PAD_PTD21__SDHC1_D0	0x0
			MX8ULP_PAD_PTD22__SDHC1_CLK	0x10002
			MX8ULP_PAD_PTD23__SDHC1_CMD	0x0
			MX8ULP_PAD_PTD13__SDHC1_RESET_B	0x0 // IND_RST_WL
			MX8ULP_PAD_PTF3__PTF3		0x0 // SPI_INT
			MX8ULP_PAD_PTF16__PTF16		0x0 // IND_RST_BT
			MX8ULP_PAD_PTD17__PTD17		0x0 // WL_WAKE_IN
			MX8ULP_PAD_PTF2__PTF2		0x0 // BT15.4_WAKE_IN
		>;
	};

	pinctrl_lpuart6: lpuart6grp {
		fsl,pins = <
			MX8ULP_PAD_PTE8__LPUART6_CTS_B	0x3
			MX8ULP_PAD_PTE9__LPUART6_RTS_B	0x3
			MX8ULP_PAD_PTE10__LPUART6_TX	0x3
			MX8ULP_PAD_PTE11__LPUART6_RX	0x3
		>;
	};
};
