// SPDX-License-Identifier: (GPL-2.0 OR MIT)
/*
 * Copyright (C) 2025 Atmark Techno, Inc. All Rights Reserved.
 */

/dts-v1/;
/plugin/;

#include <dt-bindings/gpio/gpio.h>

#include "imx8ulp-pinfunc.h"
#include "imx8ulp-pinfunc-m33.h"


&{/} {
	usdhc1_pwrseq: usdhc1_pwrseq {
		compatible = "mmc-pwrseq-simple";
		reset-gpios = <&rpmsg_gpioc 6 GPIO_ACTIVE_LOW>;
	};

	moal-params {
		// disable wifi direct, untested
		drv_mode = <0x3>;
	};

	lpspi2: lpspi2 {
		compatible = "fsl,spi-rpmsg";
		spi_type = <SPI_TYPE_LPSPI>;
		spi_index = <LPSPI2>;
		// handled in generic code
		num-chipselects = <1>;
		cs-gpios = <&rpmsg_gpioc 3 0>;
		#address-cells = <1>;
		#size-cells = <0>;
		spidev1_0: spi@0 {
			reg = <0>;
			compatible = "rohm,dh2228fv";
			spi-max-frequency = <1000000>;
		};
	};
};

// wlan LBES5PL2EL-923
&usdhc1 {
	pinctrl-names = "default", "state_100mhz", "state_200mhz";
	pinctrl-0 = <&pinctrl_usdhc1>;
	pinctrl-1 = <&pinctrl_usdhc1_100mhz>;
	pinctrl-2 = <&pinctrl_usdhc1_200mhz>;
	keep-power-in-suspend;
	non-removable;
	mmc-pwrseq = <&usdhc1_pwrseq>;
	fsl,sdio-interrupt-enable;
	status = "okay";
	/* reset gpios
	 * - wlan PTD13
	 * - th PTC4
	 * - bt PTF16
	 * wake_in gpios
	 * - wlan PTD17
	 * - bt/th PTF2
	 */
};

&lpuart6 {
	pinctrl-names = "default";
	pinctrl-0 = <&pinctrl_lpuart6>;
	status = "okay";
	bluetooth {
		compatible = "nxp,88w8987-bt";
		btnxpuart,required-netdev = "mlan0";
	};
};

&iomuxc1 {
	pinctrl_usdhc1: usdhc1grp {
		fsl,pins = <
			MX8ULP_PAD_PTD18__SDHC1_D3	0x0
			MX8ULP_PAD_PTD19__SDHC1_D2	0x0
			MX8ULP_PAD_PTD20__SDHC1_D1	0x0
			MX8ULP_PAD_PTD21__SDHC1_D0	0x0
			MX8ULP_PAD_PTD22__SDHC1_CLK	0x10002
			MX8ULP_PAD_PTD23__SDHC1_CMD	0x0
			MX8ULP_PAD_PTD13__SDHC1_RESET_B	0x0 // IND_RST_WL
			MX8ULP_PAD_PTF3__PTF3		0x0 // SPI_INT
			MX8ULP_PAD_PTF16__PTF16		0x0 // IND_RST_BT
			MX8ULP_PAD_PTD17__PTD17		0x0 // WL_WAKE_IN
			MX8ULP_PAD_PTF2__PTF2		0x0 // BT15.4_WAKE_IN
		>;
	};
	pinctrl_usdhc1_100mhz: usdhc1grp-100mhz {
		fsl,pins = <
			MX8ULP_PAD_PTD18__SDHC1_D3	0x0
			MX8ULP_PAD_PTD19__SDHC1_D2	0x0
			MX8ULP_PAD_PTD20__SDHC1_D1	0x0
			MX8ULP_PAD_PTD21__SDHC1_D0	0x0
			MX8ULP_PAD_PTD22__SDHC1_CLK	0x10002
			MX8ULP_PAD_PTD23__SDHC1_CMD	0x0
			MX8ULP_PAD_PTD13__SDHC1_RESET_B	0x0 // IND_RST_WL
			MX8ULP_PAD_PTF3__PTF3		0x0 // SPI_INT
			MX8ULP_PAD_PTF16__PTF16		0x0 // IND_RST_BT
			MX8ULP_PAD_PTD17__PTD17		0x0 // WL_WAKE_IN
			MX8ULP_PAD_PTF2__PTF2		0x0 // BT15.4_WAKE_IN
		>;
	};
	pinctrl_usdhc1_200mhz: usdhc1grp-200mhz {
		fsl,pins = <
			MX8ULP_PAD_PTD18__SDHC1_D3	0x0
			MX8ULP_PAD_PTD19__SDHC1_D2	0x0
			MX8ULP_PAD_PTD20__SDHC1_D1	0x0
			MX8ULP_PAD_PTD21__SDHC1_D0	0x0
			MX8ULP_PAD_PTD22__SDHC1_CLK	0x10002
			MX8ULP_PAD_PTD23__SDHC1_CMD	0x0
			MX8ULP_PAD_PTD13__SDHC1_RESET_B	0x0 // IND_RST_WL
			MX8ULP_PAD_PTF3__PTF3		0x0 // SPI_INT
			MX8ULP_PAD_PTF16__PTF16		0x0 // IND_RST_BT
			MX8ULP_PAD_PTD17__PTD17		0x0 // WL_WAKE_IN
			MX8ULP_PAD_PTF2__PTF2		0x0 // BT15.4_WAKE_IN
		>;
	};
	pinctrl_lpuart6: lpuart6grp {
		fsl,pins = <
			MX8ULP_PAD_PTE8__LPUART6_CTS_B	0x3
			MX8ULP_PAD_PTE9__LPUART6_RTS_B	0x3
			MX8ULP_PAD_PTE10__LPUART6_TX	0x3
			MX8ULP_PAD_PTE11__LPUART6_RX	0x3
		>;
	};
};

&gpioc_iomuxc {
	spi {
		imx-rpmsg,pins = <
			IOMUXC_PTC0_LPSPI2_SIN	IOMUXC_PCR_PE_MASK
			IOMUXC_PTC1_LPSPI2_SOUT	IOMUXC_PCR_OBE_MASK
			IOMUXC_PTC2_LPSPI2_SCK	IOMUXC_PCR_OBE_MASK
			IOMUXC_PTC3_PTC3	IOMUXC_PCR_OBE_MASK
		>;
	};
};

