/*
 * Copyright (C) 2021 Atmark Techno, Inc. All Rights Reserved.
 *
 * SPDX-License-Identifier: (GPL-2.0 OR MIT)
 */

#include <dt-bindings/pwm/pwm.h>

&iomuxc {
	pinctrl_expansion_interfacehog: expansion_interfacehoggrp {
		fsl,pins = <
			/* CON11 */
									   // CON11_1   VIN
									   // CON11_2   VIN
									   // CON11_3   GND
									   // CON11_4   GND
									   // CON11_5   I2C4_SCL
			MX8MP_IOMUXC_ECSPI1_MISO__GPIO5_IO08	0x40000000 // CON11_6
									   // CON11_7   I2C4_SDA
			MX8MP_IOMUXC_ECSPI1_SS0__GPIO5_IO09	0x40000000 // CON11_12
			MX8MP_IOMUXC_SAI3_TXFS__GPIO4_IO31	0x40000000 // CON11_14
			MX8MP_IOMUXC_SAI3_TXC__GPIO5_IO00	0x40000000 // CON11_16
			MX8MP_IOMUXC_SAI5_RXC__GPIO3_IO20	0x40000000 // CON11_17
			MX8MP_IOMUXC_SAI3_TXD__GPIO5_IO01	0x40000000 // CON11_18
			MX8MP_IOMUXC_SAI5_RXD0__GPIO3_IO21	0x40000000 // CON11_19
			MX8MP_IOMUXC_SAI3_RXD__GPIO4_IO30	0x40000000 // CON11_20
			MX8MP_IOMUXC_SAI5_RXD1__GPIO3_IO22	0x40000000 // CON11_21
			MX8MP_IOMUXC_SAI3_MCLK__GPIO5_IO02	0x40000000 // CON11_22
			MX8MP_IOMUXC_SAI5_RXD2__GPIO3_IO23	0x40000000 // CON11_23
			MX8MP_IOMUXC_GPIO1_IO15__GPIO1_IO15	0x40000000 // CON11_24
			MX8MP_IOMUXC_SAI5_RXD3__GPIO3_IO24	0x40000000 // CON11_25
									   // CON11_26  USBDM_DN2
									   // CON11_28  USBDP_DN2
			MX8MP_IOMUXC_SAI5_RXFS__GPIO3_IO19	0x40000000 // CON11_29
									   // CON11_30  VDD_1V8
									   // CON11_31  VDD_5V
									   // CON11_32  VDD_5V
									   // CON11_33  GND
									   // CON11_34  GND

			/* CON12 */
									   // CON12_1   PWROFF
			MX8MP_IOMUXC_SD1_STROBE__GPIO2_IO11	0x40000000 // CON12_2
									   // CON12_3   RECOVERY
			MX8MP_IOMUXC_SAI2_MCLK__GPIO4_IO27	0x40000000 // CON12_4
									   // CON12_5   ONOFF
			MX8MP_IOMUXC_SAI3_RXFS__GPIO4_IO28	0x40000000 // CON12_6
									   // CON12_7   FW_UPDATE_IND
			MX8MP_IOMUXC_SAI3_RXC__GPIO4_IO29	0x40000000 // CON12_8
									   // CON12_9   STDWN_IND
			MX8MP_IOMUXC_NAND_DATA02__GPIO3_IO08	0x40000000 // CON12_10
									   // CON12_11  PWR_IND
			MX8MP_IOMUXC_NAND_DATA03__GPIO3_IO09	0x40000000 // CON12_12
			MX8MP_IOMUXC_SD1_DATA6__GPIO2_IO08	0x40000000 // CON12_13
			MX8MP_IOMUXC_NAND_DQS__GPIO3_IO14	0x40000000 // CON12_14
									   // CON12_15  GND
									   // CON12_16  GND
		>;
	};

	pinctrl_pwm1: pwm1grp {
		fsl,pins = <
			MX8MP_IOMUXC_SAI5_MCLK__PWM1_OUT	0x0186 // CON11_27
		>;
	};

	pinctrl_uart3: uart3grp {
		fsl,pins = <
			MX8MP_IOMUXC_ECSPI1_MOSI__UART3_DCE_TX	0x0140 // CON11_8
			MX8MP_IOMUXC_ECSPI1_SCLK__UART3_DCE_RX	0x0140 // CON11_10
		>;
	};

	pinctrl_uart4: uart4grp {
		fsl,pins = <
			MX8MP_IOMUXC_ECSPI2_MOSI__UART4_DCE_TX	0x0140 // CON11_11
			MX8MP_IOMUXC_ECSPI2_SCLK__UART4_DCE_RX	0x0140 // CON11_13
			MX8MP_IOMUXC_ECSPI2_MISO__UART4_DCE_CTS	0x0140 // CON11_9
			MX8MP_IOMUXC_ECSPI2_SS0__UART4_DCE_RTS	0x0140 // CON11_15
		>;
	};
};

&pwm1 {
	pinctrl-names = "default";
	pinctrl-0 = <&pinctrl_pwm1>;
	status = "okay";
};

&uart3 {
	pinctrl-names = "default";
	pinctrl-0 = <&pinctrl_uart3>;
	status = "okay";
};

&uart4 {
	pinctrl-names = "default";
	pinctrl-0 = <&pinctrl_uart4>;
	uart-has-rtscts;
	status = "okay";
};

/ {
};
