/*
 * Copyright (C) 2022 Atmark Techno, Inc. All Rights Reserved.
 *
 * SPDX-License-Identifier: (GPL-2.0 OR MIT)
 */

/dts-v1/;
/plugin/;

#include <dt-bindings/gpio/gpio.h>
#include "imx8mp-pinfunc.h"

&{/} {
	reg_vana: regulator-vana {
		compatible = "regulator-fixed";
		pinctrl-names = "default";
		pinctrl-0 = <&pinctrl_vana>;
		regulator-name = "ARDUCAM-VANA";
		regulator-min-microvolt = <2800000>;
		regulator-max-microvolt = <2800000>;
		gpio = <&gpio3 6 GPIO_ACTIVE_HIGH>;
		enable-active-high;
	};

	reg_vdig: regulator-vdig {
		compatible = "regulator-fixed";
		regulator-name = "ARDUCAM-VDIG";
		regulator-min-microvolt = <1800000>;
		regulator-max-microvolt = <1800000>;
	};

	reg_vddl: regulator-vddl {
		compatible = "regulator-fixed";
		regulator-name = "ARDUCAM-vddl";
		regulator-min-microvolt = <1200000>;
		regulator-max-microvolt = <1200000>;
	};
};

&i2c2 {
	#address-cells = <1>;
	#size-cells = <0>;

	arducam: arducam@c {
		compatible = "sony,arducam";

		reg = <0x0c>;
		#address-cells = <1>;
		#size-cells = <0>;
		clocks = <&arducam_clk>;
		clock-names = "xclk";

		VANA-supply = <&reg_vana>; /* 2.8v */
		VDIG-supply = <&reg_vdig>; /* 1.8v */
		VDDL-supply = <&reg_vddl>; /* 1.2v */

		rotation = <180>;

		arducam_clk: camera-clk {
			compatible = "fixed-clock";
			#clock-cells = <0>;
			clock-frequency = <24000000>;
		};

		port {
			arducam_0_ep: endpoint {
				remote-endpoint = <&mipi_csi0_ep>;
				data-lanes = <1 2>;
				clock-lanes = <0>;
				clock-noncontinuous;
				link-frequencies = /bits/ 64 <456000000>;
			};
		};
	};
};

&iomuxc {
	pinctrl_vana: vana_grp {
		fsl,pins = <
			MX8MP_IOMUXC_NAND_DATA00__GPIO3_IO06	0x40000100
		>;
	};
};

&mipi_csi_0 {
	#address-cells = <1>;
	#size-cells = <0>;
	status = "okay";

	port@0 {
		reg = <0>;
		mipi_csi0_ep: endpoint {
			remote-endpoint = <&arducam_0_ep>;
			data-lanes = <2>;
			csis-hs-settle = <13>;
			csis-clk-settle = <2>;
			csis-wclk;
		};
	};
};

&cameradev {
	status = "okay";
};

&isi_0 {
	status = "okay";

	cap_device {
		status = "okay";
	};

	m2m_device {
		status = "okay";
	};
};

&isp_0 {
	status = "okay";
};

&dewarp {
	status = "okay";
};
