// SPDX-License-Identifier: (GPL-2.0 OR MIT)
/*
 * Copyright (C) 2021 Atmark Techno, Inc. All Rights Reserved.
 */

#include "imx8ulp.dtsi"
#include "imx8ulp-rpmsg.dtsi"
#include <dt-bindings/input/input.h>

/ {
	model = "Atmark-Techno Armadillo-900";
	compatible = "atmark,armadillo-900", "fsl,imx8ulp";

	aliases {
		i2c2 = &i2c2_rpbus_2;
	};

	//secure element
	i2c2_rpbus_2: i2c2-rpbus-2 {
		compatible = "fsl,i2c-rpbus";
		status = "okay";
	};
	se_en: se-enable {
		compatible = "gpio-reset";
		pinctrl-names = "default";
		pinctrl-0 = <&pinctrl_se_enable>;
		reset-gpios = <&gpiof 12 GPIO_ACTIVE_LOW>;
		reset-assert-in-suspend;
	};

	leds {
		compatible = "gpio-leds";

		enet_led {
			label = "enet0_led1_1v8";
			gpios = <&gpioe 13 GPIO_ACTIVE_HIGH>;
		};
	};

};

// emmc
&usdhc0 {
	pinctrl-names = "default", "state_100mhz", "state_200mhz", "sleep";
	pinctrl-0 = <&pinctrl_usdhc0>;
	pinctrl-1 = <&pinctrl_usdhc0>;
	pinctrl-2 = <&pinctrl_usdhc0>;
	pinctrl-3 = <&pinctrl_usdhc0>;
	non-removable;
	bus-width = <8>;
	status = "okay";
};

//ethernet PHY
&fec {
	pinctrl-names = "default", "sleep";
	pinctrl-0 = <&pinctrl_enet>;
	pinctrl-1 = <&pinctrl_enet>;
	assigned-clocks = <&cgc1 IMX8ULP_CLK_ENET_TS_SEL>;
	assigned-clock-parents = <&clock_ext_ts>;
	phy-mode = "rmii";
	phy-handle = <&ethphy>;
	status = "okay";
	phy-reset-gpios = <&gpiof 13 GPIO_ACTIVE_LOW>;
	interrupts = <&gpioe 7 GPIO_ACTIVE_LOW>;
	mdio {
		#address-cells = <1>;
		#size-cells = <0>;

		ethphy: ethernet-phy {
			compatible = "ethernet-phy-ieee802.3-c22";
			reg = <0>;
		};
	};
};

&iomuxc1 {

	pinctrl_enet: enetgrp {
		fsl,pins = <
			MX8ULP_PAD_PTE14__ENET0_MDIO	0x43
			MX8ULP_PAD_PTE15__ENET0_MDC		0x43
			MX8ULP_PAD_PTE16__ENET0_TXEN	0x43
			MX8ULP_PAD_PTE17__ENET0_RXER	0x43
			MX8ULP_PAD_PTE18__ENET0_CRS_DV	0x43
			MX8ULP_PAD_PTE19__ENET0_REFCLK	0x43
			MX8ULP_PAD_PTE20__ENET0_RXD1	0x43
			MX8ULP_PAD_PTE21__ENET0_RXD0	0x43
			MX8ULP_PAD_PTE22__ENET0_TXD1	0x43
			MX8ULP_PAD_PTE23__ENET0_TXD0	0x43
			MX8ULP_PAD_PTF13__PTF13			0x43
			MX8ULP_PAD_PTE7__PTE7			0x43
			MX8ULP_PAD_PTE13__PTE13			0x3
		>;
	};

	pinctrl_usdhc0: usdhc0grp {
		fsl,pins = <
			MX8ULP_PAD_PTD1__SDHC0_CMD	0x3
			MX8ULP_PAD_PTD2__SDHC0_CLK	0x10002
			MX8ULP_PAD_PTD10__SDHC0_D0	0x3
			MX8ULP_PAD_PTD9__SDHC0_D1	0x3
			MX8ULP_PAD_PTD8__SDHC0_D2	0x3
			MX8ULP_PAD_PTD7__SDHC0_D3	0x3
			MX8ULP_PAD_PTD6__SDHC0_D4	0x3
			MX8ULP_PAD_PTD5__SDHC0_D5	0x3
			MX8ULP_PAD_PTD4__SDHC0_D6	0x3
			MX8ULP_PAD_PTD3__SDHC0_D7	0x3
			MX8ULP_PAD_PTD11__SDHC0_DQS	0x10002
			MX8ULP_PAD_PTD0__SDHC0_RESET_B	0x3
		>;
	};

	pinctrl_se_enable: seenablegrp {
		fsl,pins = <
			MX8ULP_PAD_PTF12__PTF12		0x3
		>;
	};
};
