// SPDX-License-Identifier: (GPL-2.0 OR MIT)
/*
 * Copyright (C) 2022 Atmark Techno, Inc. All Rights Reserved.
 */

/dts-v1/;
/plugin/;

#include <dt-bindings/gpio/gpio.h>
#include "imx6ull-pinfunc.h"
#include "imx6ull-pinfunc-snvs.h"
#include <dt-bindings/interrupt-controller/irq.h>

&uart5 {
	status = "disabled";
};

&{/} {
	// chosen {
	//	stdout-path = &uart3;
	// };

	hub_reset_b_reset: usb2422-reset {
		pinctrl-names = "default";
		pinctrl-0 = <&pinctrl_hub_reset_b>;
		compatible = "gpio-reset";
		reset-gpios = <&gpio1 30 GPIO_ACTIVE_LOW>;

		reset-delay-us = <10>;

		reset-on-init;
		#reset-cells = <0>;
	};

	ble_reset: nrf52-reset {
		compatible = "gpio-reset";
		pinctrl-0 = <&pinctrl_ble_reset>;
		reset-gpios = <&gpio3 26 GPIO_ACTIVE_HIGH>;

		reset-delay-us = <1>;

		reset-on-init;
		#reset-cells = <0>;
	};

	lwb5p_reset: lwb5p-wlan-reset {
		pinctrl-names = "default";
		pinctrl-0 = <&pinctrl_lwb5_reset>;
		compatible = "lwb5p-reset";
		lwb5p-pwr-en-gpios = <&gpio3 25 GPIO_ACTIVE_LOW>;
		lwb5p-wlan-rst-gpios = <&gpio3 23 GPIO_ACTIVE_HIGH>;
		lwb5p-bt-rst-gpios = <&gpio3 24 GPIO_ACTIVE_HIGH>;
	};

	reg_ble_pwr_en: regulator-nrf52 {
		pinctrl-names = "default";
		pinctrl-0 = <&pinctrl_ble_pwr_en>;
		compatible = "regulator-fixed";
		regulator-name = "VDD_NRF52";
		regulator-min-microvolt = <3300000>;
		regulator-max-microvolt = <3300000>;
		gpio = <&gpio3 27 GPIO_ACTIVE_HIGH>;
		enable-active-high;
		regulator-boot-on;
	};
};

&iomuxc {
	pinctrl_thread_hog: thread_hoggrp {
		fsl,pins = <
			MX6UL_PAD_UART2_RTS_B__GPIO1_IO23	0x40000008	/* SWDCLK */
			MX6UL_PAD_UART5_RX_DATA__GPIO1_IO31	0x40010008	/* SWDIO */
		>;
	};

	pinctrl_lwb5_reset: lwb5resetgrp {
		fsl,pins = <
			MX6UL_PAD_LCD_DATA20__GPIO3_IO25	0x40000008	/* WLAN_BT_PWREN */
			MX6UL_PAD_LCD_DATA18__GPIO3_IO23	0x40000008	/* WLAN_RST */
			MX6UL_PAD_LCD_DATA19__GPIO3_IO24	0x40000008	/* BT_RST */
		>;
	};

	pinctrl_hub_reset_b: hubresetbgrp {
		fsl,pins = <
			MX6UL_PAD_UART5_TX_DATA__GPIO1_IO30	0x00000008	/* HUB_RESET_B */
		>;
	};

	pinctrl_ble_reset: bleresetgrp {
		fsl,pins = <
			MX6UL_PAD_LCD_DATA21__GPIO3_IO26	0x00000008	/* BLE_RESET */
		>;
	};

	pinctrl_ble_pwr_en: blepwrengrp {
		fsl,pins = <
			MX6UL_PAD_LCD_DATA22__GPIO3_IO27	0x00000008	/* BLE_PWR_EN */
		>;
	};
};

&usbotg2 {
	usb1 {
		reg = <1>;
		usb11 {
			reg = <1>;
			brcmf: wifi@1 {
				reg = <1>;
				compatible = "brcm,bcm4329-fmac";
				brcm,ccode-map = "JP-JP-0";
			};
		};
	};
};
